body
{
	margin: 10px 10px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-stretch: extra-condensed;
}

h1
{
	color: #000000;
}

p
{
	text-align: center;
	color: #000000;
}

div
{
	font-size: 10px;
	background-color: #990033;
	padding: 2px;
	height: 75px;
	width: 75px;
	display: inline-block;
}

div.diezPorCiento
{
	opacity: 0.1;
}

div.veintePorCiento
{
	opacity: 0.2;
}
div.cuarentaPorCiento
{
	opacity: 0.4;
}

div.sesentaPorCiento
{
	opacity: 0.6;
}

div.ochentaPorCiento
{
	opacity: 0.8;
}

div.cienPorCiento
{
	opacity: 1.0;
}
